<div class="card-estratega">
    <div class="card-blue"></div>
    <div class="card-img"></div>
    <div class="tu-saldo">Tu saldo</div>
    <div class="eres-estratega">Eres estratega</div>
    <div class="valor">$ 1.570.000</div>
</div>
<div class="invest-summary">
    <div class="frame55">
        <div class="type_date">
            <div class="inversion">Inversión</div>
        </div>
        <div class="value_status">
            <div class="value">$ 1.600.000</div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="frame58">
        <div class="type_date">
            <div class="inversion">Inversión</div>
        </div>
        <div class="value_status">
            <div class="value">$ -30.000</div>
        </div>
    </div>
</div>
