
<div class="menu-footer mb-3">
    <div class="invest">
        <div class="plus"></div>
        <div class="ahorrar">Ahorrar</div>
    </div>
    <div class="options">
        <div class="inicio">
            <div class="inicio-texto">Inicio</div>
        </div>
        <div class="history">
            <div class="historial-texto">Historial</div>
        </div>
        <div class="profile">
            <div class="profile-texto">Mi Perfil</div>
        </div>
        <div class="more">
            <div class="more-texto">Mas</div>
        </div>
    </div>
</div>
<div class="space"></div>