.titulonoticias {
    position: absolute;
    width: 271px;
    height: 25px;
    left: 24px;
    top: 1020px;
    /* Subtitle 2 */
    font-family: 'open-sans-regular', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    display: flex;
    align-items: center;
    /* 75% */
    color: #58506B;
}

.mediahome {
    position: absolute;
    width: 327px;
    height: 290px;
    left: 15px;
    top: 1070px;
    /* White */
    background-image: url('../../../assets/ahorrotop.png');
    background-repeat: no-repeat;
    /* Card shadow 1 */
    box-shadow: 0px 8px 20px rgba(197, 166, 236, 0.05);
    border-radius: 20px;
}

.play {
    position: absolute;
    left: 44.04%;
    right: 43.73%;
    top: 28%;
    bottom: 58.62%;
    width: 60px;
    height: 60px;
    background-image: url('../../../assets/play.png');
    background-repeat: no-repeat;
}

.texto-ahorro {
    position: absolute;
    width: 210px;
    height: 33px;
    left: 20px;
    bottom: 56px;
    /* Title 2 */
    font-family: 'open-sans-regular', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    display: flex;
    align-items: center;
    /* White */
    color: #FFFFFF;
    z-index: 999;
}

.conoce {
    position: absolute;
    width: 287px;
    height: 32px;
    left: 20px;
    bottom: 19px;
    /* Caption 1 */
    font-family: 'open-sans-regular', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    /* White */
    color: #FFFFFF;
    z-index: 999;
}

.vector6 {
    position: absolute;
    width: 328px;
    height: 122px;
    left: 15px;
    top: 1240px;
    background-image: url('../../../assets/vector6.png');
    background-repeat: no-repeat;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.blog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    position: absolute;
    width: 327px;
    height: 304px;
    left: 15px;
    top: 1400px;
    /* White */
    /* Card shadow soft */
    box-shadow: 0px 8px 20px rgba(197, 166, 236, 0.05);
    border-radius: 20px;
}

.titulo1 {
    position: absolute;
    width: 202px;
    height: 21px;
    left: 15px;
    top: 20px;
    /* Normal 1 */
    font-family: 'open-sans-regular', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    /* 50% */
    color: #817699;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 5px;
}

.blog1 {
    position: absolute;
    width: 202px;
    height: 42px;
    left: 15px;
    top: 40px;
    /* Menu 1 */
    font-family: 'open-sans-regular', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    /* 75% */
    color: #58506B;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: center;
    flex-grow: 0;
    margin: 0px 5px;
}

.titulo2 {
    position: absolute;
    width: 202px;
    height: 21px;
    left: 15px;
    top: 100px;
    /* Normal 1 */
    font-family: 'open-sans-regular', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    /* 50% */
    color: #817699;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 5px;
}

.blog2 {
    position: absolute;
    width: 202px;
    height: 42px;
    left: 15px;
    top: 120px;
    /* Menu 1 */
    font-family: 'open-sans-regular', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    /* 75% */
    color: #58506B;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: center;
    flex-grow: 0;
    margin: 0px 5px;
}

.titulo3 {
    position: absolute;
    width: 202px;
    height: 21px;
    left: 15px;
    top: 180px;
    /* Normal 1 */
    font-family: 'open-sans-regular', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    /* 50% */
    color: #817699;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 5px;
}

.blog3 {
    position: absolute;
    width: 202px;
    height: 42px;
    left: 15px;
    top: 200px;
    /* Menu 1 */
    font-family: 'open-sans-regular', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    /* 75% */
    color: #58506B;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: center;
    flex-grow: 0;
    margin: 0px 5px;
}

.img1 {
    position: absolute;
    width: 68px;
    height: 68px;
    left: 225px;
    top: 0px;
    background: url('../../../assets/img1.png');
    border-radius: 20px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: flex-start;
    flex-grow: 0;
    margin: 17px 0px;
}

.img2 {
    position: absolute;
    width: 68px;
    height: 68px;
    left: 225px;
    top: 80px;
    background: url('../../../assets/img2.png');
    border-radius: 20px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: center;
    flex-grow: 0;
    margin: 17px 0px;
}

.img3 {
    position: absolute;
    width: 68px;
    height: 68px;
    left: 225px;
    top: 160px;
    background: url('../../../assets/img3.png');
    border-radius: 20px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: center;
    flex-grow: 0;
    margin: 17px 0px;
}