<div class="titulonoticias">Los P*t@s del ahorro</div>
<div class="mediahome">
    <div class="play"></div>
    <div class="texto-ahorro">Esto es AHORRO</div>
    <div class="conoce">Conoce como nuestro RoboAdvisor crea el mejor portafolio de inversión para ti.
    </div>
</div>
<div class="vector6"></div>

<div class="blog">
    <div class="titulo1">10 gastos que debes evitar</div>
    <div class="blog1">Aunque el 66% de los adultos recibió educación para el ahorro, apenas el 44% ahorra de manera fomal.</div>
    <div class="img1"></div>
    <div class="titulo2">10 gastos que debes evitar</div>
    <div class="blog2">Aunque el 66% de los adultos recibió educación para el ahorro, apenas el 44% ahorra de manera fomal.</div>
    <div class="img2"></div>
    <div class="titulo3">10 gastos que debes evitar</div>
    <div class="blog3">Aunque el 66% de los adultos recibió educación para el ahorro, apenas el 44% ahorra de manera fomal.</div>
    <div class="img3"></div>
</div>