<div class="tusmetas">Tus metas</div>
<div class="addcircleoutime">
    <div class="circleoutime_icon"></div>
</div>
<div class="container">
    <div class="goals row">
        <div class="col">
            <div class="">
                <div class="">$ 1.630.000</div>
            </div>
            <!-- <div class="goalimg"></div> -->
            <!-- <div class="viaje">Viaje a Islas Canarias</div>
            <div class="vector"></div> -->
        </div>
        <div class="col">
            <div class="">
                DERECHA
                <!-- <div class="img-right"></div> -->
            </div>
        </div>
    </div>
</div>
