.metas {
    top: 511px;
    position: absolute;
    width: 340px;
    padding: 10px;
}

.tusmetas {
    width: 271px;
    height: 25px;
    left: 24px;
    /* Subtitle 2 */
    font-family: 'open-sans-regular', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    display: flex;
    align-items: center;
    /* 75% */
    color: #58506B;
}

.addcircleoutime {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 327px;
    top: 511px;
}

.circleoutime_icon {
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 8.33%;
    bottom: 8.33%;
    background-image: url('../../../assets/add_circle_outline_24px.png');
    background-repeat: no-repeat;
}

.goals {
    /* Auto Layout */
    position: absolute;
    width: 100%;
    top: 556px;
    /* White */
    /* Card shadow soft */
    box-shadow: 0px 8px 20px rgba(197, 166, 236, 0.05);
    border-radius: 20px;
}

.goals-left {
    border-radius: 15px;
    margin: 0px 5px 0px 15px;
    padding-left: 30px;
}

.goals-right {
    border-radius: 15px;
    margin: 0px 15px 0px 5px;
    padding: 5px;
}

.datos {
    margin-top: 70px;
}

.datos-right {
    margin-top: 40px;
}

.datainfo {
    position: absolute;
    width: 63px;
    height: 16px;
    left: 75px;
    top: 142px;
    /* Caption 2 */
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.03em;
}

.img-left {
    width: 40px;
    height: 40px;
    top: 10px;
    background: url('../../../assets/IMG.png');
}

.img-right {
    position: relative;
    width: 40px;
    height: 40px;
    left: 20px;
    background: url('../../../assets/right.png');
}

.viaje {
    position: absolute;
    /* Normal 2 */
    font-family: 'open-sans-regular', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    width: 120px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* or 150% */
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    /* 50% */
    color: #817699;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: center;
    flex-grow: 0;
    margin-top: 10px;
}

.vector {
    position: static;
    width: 118px;
    height: 0px;
    left: 20px;
    top: 122px;
    /* Background */
    border: 2px solid #292929;
    /* Inside Auto Layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 10px;
}

.goalright {
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px 0px 20px;
    position: absolute;
    height: 202px;
    left: 193px;
    /* White */
    background: #836060;
    /* Card shadow soft */
    box-shadow: 0px 8px 20px rgba(197, 166, 236, 0.05);
    border-radius: 20px;
}

.right-img-container {
    position: static;
    width: 40px;
    height: 40px;
    left: 20px;
    top: 20px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: flex-start;
    flex-grow: 0;
    margin: 0px 10px;
}



.chart-data {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-image: url('../../../assets/chart.png');
    background-repeat: no-repeat;
}

.percent {
    position: absolute;
    width: 118px;
    height: 50px;
    left: 25px;
    top: 12px;
    color: #54D1ED;
}

.value1 {
    font-family: 'open-sans-regular', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.03em;
    color: #54D1ED;
}

.value2 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height */
    letter-spacing: -0.03em;
    /* 50% */
    color: #817699;
}

.macbook {
    position: relative;
    font-family: 'open-sans-regular', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    top: 10px;
    left: 20px;
    /* 50% */
    color: #817699;

}