<div class="metas">
    <div class="row">
        <div class="col-10">
            <div class="tusmetas">Tus metas</div>
        </div>
        <div class="col-2">
            <div class="circleoutime_icon"></div>
        </div>
    </div>
    <div class="row">
        <div class="col goals-left">
                <div class="goalimg"></div>
                <div class="viaje">Viaje a Islas Canarias</div>
                    <div class="row">
                    </div>

                <div class="value">$ 1.630.000</div>
                <div class="vector"></div>
        </div>
        <div class="col goals-right">
                <div class="">
                    DERECHA
                    <!-- <div class="img-right"></div> -->
                </div>
        </div>
    </div>
</div>
