<div class="metas">
    <div class="row">
        <div class="col-10">
            <div class="tusmetas">Tus metas</div>
        </div>
        <div class="col-2">
            <div class="circleoutime_icon"></div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col goals-left">
                <div class="row img-left"></div>
                <div class="row viaje">Viaje a Islas Canarias</div>
                <div class="row datos">
                    <div class="col-5">
                        <div class="chart-data"></div>
                        <div class="percent">20%</div>
                    </div>
                    <div class="col-7">
                        <div class="value1">$ 1.630.000</div>
                        <div class="value2">$ 8.000.000</div>
                    </div>
                </div>

        </div>
        <div class="col goals-right">
                <div class="row img-right"></div>
                <div class="row macbook">Macbook Pro</div>
                <div class="row datos-right">
                    <div class="col-5">
                        <div class="chart-data"></div>
                        <div class="percent">20%</div>
                    </div>
                    <div class="col-7">
                        <div class="value1">$ 1.630.000</div>
                        <div class="value2">$ 8.000.000</div>
                    </div>
                </div>
        </div>
    </div>
</div>